name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: tutujnr
          template: classic
          base: header, activity, repositories, community
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_followup: yes
          plugin_achievements: yes
          plugin_achievements_threshold: C
          config_timezone: Africa/Nairobi
